* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #353535;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-links li {
    display: inline-block;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar-links a:hover {
    background-color: #1e1d1d;
}

/* Main Content Area */
.book-page-container {
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.book-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.book-image {
    width: 40%;
    padding-right: 20px;
}

.book-photo {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-info {
    width: 55%;
    text-align: left;
}

.book-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.book-authors, .book-price, .book-format, .book-category, .book-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.add-to-cart-form {
    margin-top: 20px;
}

.add-to-cart-form input {
    width: 80px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-to-cart-button {
    padding: 10px 15px;
    background-color: #353535;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #1e1d1d;
}

.login-prompt {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.login-prompt a {
    color: #353535;
    text-decoration: none;
}

.login-prompt a:hover {
    text-decoration: underline;
}

/* reviews*/
.reviews-container {
    margin: 40px auto;
    width: 100%;
    max-width: 900px;
}

.review-details {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-details h1 {
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.review {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.review p {
    margin-bottom: 8px;
    font-size: 16px;
}

.review-form {
    margin-top: 20px;
}

.review-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.review-form input,
.review-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.review-form button, 
.delete-review-button{
    padding: 10px 20px;
    background-color: #353535;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.review-form button:hover {
    background-color: #1e1d1d;
}
