* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

.navbar {
    background-color: #353535;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-links li {
    display: inline-block;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar-links a:hover {
    background-color: #1e1d1d;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.order-details {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
}

.order-details h2 {
    margin-bottom: 10px;
    color: #333;
}

.order-details h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

.order-details p {
    margin-bottom: 10px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
    background-color: #f9f9f9;
}

table td {
    font-size: 14px;
}
